@import "./mixins";
*{
 font-family: 'Raleway' , sans-serif ;
    padding: 0;
    margin: 0;
    color: inherit;

    
}

#header{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 80px ;
  z-index: 2;
  .header_navigation{
    @include mobile{
      display: none;
    }
    @include tablet{
      display: none;
    }
  
    &-list{
      list-style: none;
      display: flex; gap: 60px;
      position: relative;
      transition: 0.5;
     
    
      :hover::after{
        content:" ";
        width: 100%;
        height: 3px;
        background-color: black;
        position: absolute;
        bottom: -4px;
        left: 0;

      }
    
    }
  }
  .mobile_burger{
    display: none;
    @include mobile{
      display: block;
    }
    @include tablet{
      display: block;
    }
  }
}
#navbar{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .navbar-item{
    background-color: black;
    width: 100%;
    padding-bottom: 20px;
    color: white;
    .navbar-item_text-link{
      color: #fff;
    }
  }
}
#product{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #451214;
  flex-wrap: wrap-reverse;
  .product_image{
    width: 50%;
    @include mobile{
      width: 80%;
      margin-top: 4%;
    }
    img{
      max-width: 100% !important;
    }
   
  }
  .product_image-text{
    line-height: 50px;
    &-h{
      color: #fff;
    }
    &-p{
      color: #fff;
    }
    .product_image-button{
      background-color: #fff;
      text-decoration: none;
      border: none;
      padding: 10px 20px;
      color: black;
    }

  }
}
#collection{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 70px 0px;
  width: 100%;
  @include mobile{
    flex-wrap: wrap;
  }
  @include tablet{
    flex-wrap: wrap;
  }
  .collection_images{
      width: 100%;
      height: 100%;
    display: flex;
    justify-content: center;
      object-fit: cover;
      margin-top: 4%;
      z-index: 14;
      flex-wrap: wrap;
  
    &-style{
      margin: 0px 10px;
      height: 556px;
      aspect-ratio: auto 328 / 556;
      width: 328px;


    }
  }
  .collection_text{
    line-height: 50px;
    margin-left: 20px;
    .collection_button{
      padding: 10px 20px;
      background-color: black;
      border: none;
      text-decoration: none;
      color: #fff;
    }
  }
}
#background{
  object-fit: cover;
  
  
    .background_image{
      position: absolute;
      
     img{
      width: 100%;
     }
    }
    h1{
      text-align: center;
      position: relative;
      color: #fff;
      font-weight: 300;
      font-size: 60px;
      padding: 15%;
  
      
    }
    .background_text{
     width: 100;
    }
}
#container{
  background-color: #fff;
  display: flex; 
  width: 100%;
  padding: 60px 0px;
  text-align: center;
  position: absolute;
 
  .container_left{
    line-height: 50px;
    h2{
      margin-top: 4%;
    }
    a{
      border: none;
      background-color: black;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
    }

img{
  width: 90%;
}

  }
  .container_right{
    line-height: 50px;
    h2{
      margin-top: 4%;
    }
    a{
      border: none;
      background-color: black;
      color: #fff;
      padding: 10px 20px;
      text-decoration: none;
    }


    img{
      width: 90%;
    }
  }
}
#section_maile{
  background-image: url(../assets/images/mail_image.webp);
  width: 100%;
  background-size: cover;
  height: 70vh;
margin-top: 50%;
color: #fff;

.texts{
  padding: 8% 25%;
  h2{
    font-weight: 100;
    font-size: 60px;
  }
  h1{
    font-size:  50px;
  }

  .form_mail{
    z-index: 20;
    
    
    .input{
      border: none;
      position: absolute;
      z-index: 1;
      background-color: #f1f1f1;
      padding: 15px 100px;
    }
  }
  a{
    background-color: black;
    color: #fff;
    padding: 20px 30px;
    text-decoration: none;
    font-size: 20px;
    
  }
 

 }
 
}
#footer{
  display: flex;
  justify-content: space-around;
  .footer_item{

  
  .footer_list{
    list-style: none;
    line-height: 50px;
  }
}
.footer_item2{
  line-height: 60px;
  
  .icons{
    display: flex;
    gap: 10px;
    list-style-type: none;
  }
}
}